.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 15px;
    width: 200px;
    height: 20px;
}

.button {
    width: 80px;
    position:relative;
    margin-right: 20px;
}

.alert {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}